body{
    margin: 0;
    border: 0;
    padding: 0;
    background-color:black;
}


.titulo h1{
    font-family: "raleway", sans-serif;
    color: #ffffff;
    text-align: center;
}


 
.principal img{
    width: 100%;
    padding: auto;
 


    
}

.desc-section{
  
    padding: 100px;
    

}

.text{
    width: 30%;
    margin-left: 10%;
    padding:auto;
    color: #ffffff;
    display: inline-block;
    text-align: justify;

}

.descripcion img{
    width: 500px;
    padding-left: 5%;
    margin-left: 50px;


}
h2{
text-align: center;
color: #ffffff;
   
  
    
    
}
.caracteristica{
    background-color: #adabab;
    padding: 200px;
    text-align: center;

    
 

}




i {
    display: inline;
    width: 100px;
    padding: 0px;
    margin:0,5em;
    font-size: 4em;
    color:#ffffff;

 
}
span{
    display: inline;
    margin-top: 13860px;
    letter-spacing: 0px;
    text-align: center;
    color: rgb(255, 255, 255);
}


#fotos{
    padding: auto;
}

.imagenes img{
    display: inline;
    width:500px;
    height: 300px;
    margin:30px;
    margin-top: 30px;

}
